@model ExamSessionWeb.Models.StudyGroup

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>StudyGroup</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Specialization)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Specialization)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NumberOfStudents)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NumberOfStudents)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ElderNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ElderNavigation.StudentId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TutorNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TutorNavigation.TeacherId)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.NumberGroup">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
